* {
  text-decoration: none;
}

.sidebar {
  height: 100%;
  width: 15%;
  min-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a4055;
  border-right: solid black 1px;
  overflow: hidden;
}

.home-button {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  color: white;
  padding: 10px;
}

.logo-container {
  width: 100%;
  text-align: center;
}

.watchlist-button {
  color: white;
  height: 50px;
  padding-top: 14px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.watchlist-button:hover {
  background-color: #223343;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.sidebar-searches {
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.popular-searches {
  align-content: center;
  width: 100%;
  margin-top: 20px;
  text-decoration: none;
}

.div_link {
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.Link:visited {
  text-decoration: none;
  color: white;
}

.div_link:hover {
  background-color: #223343;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.sidebar-link {
  text-decoration: none;
}

.buton-test {
  color: white;
}

.popular-searches Link {
  width: 100%;
}

.popular-movie:visited {
  text-decoration: none;
}

.random-button {
  color: white;
  height: 50px;
  padding-top: 14px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.random-button:hover {
  background-color: #223343;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
