.footer {
  position: fixed;
  width: 15%;
  height: 40px;
  background-color: #223649;
  box-shadow: 0px 1px 5px #223343;
  bottom: 0px;
  left: 0;
  margin-bottom: 0px;
  text-align: center;
  color: white;
}
