.sidebar {
  height: 100%;
  width: 15%;
  min-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a4055;
  border-right: solid black 1px;
  overflow: hidden;
}

.home-button {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  color: white;
  padding: 10px;
}

.logo-container {
  width: 100%;
  text-align: center;
}

.watchlist-button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
.watchlist-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.sidebar-searches {
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.popular-searches {
  align-content: center;
  width: 100%;
  margin-top: 20px;
}

.popular-searches li {
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.popular-searches li:visited {
  text-decoration: none;
}

.popular-searches li:hover {
  background-color: #223343;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.sidebar-link {
  text-decoration: none;
}

.popular-movie:visited {
  text-decoration: none;
}
