.detail-container {
  width: 85%;
  float: right;
}

.card-title {
  width: 100%;
  text-align: center;
  font-size: 32px;
  padding: 20px;
  padding-left: 0px;
  color: white;
}

.poster-text-wrapper {
  display: flex;
}

.poster-box {
  width: 20%;
  float: left;
  margin: 20px;
  margin-top: 0;
  margin-left: 40px;
}

.text-box-detailed {
  width: 75%;
  margin: 40px;
  text-align: left;
  color: white;
  margin-left: 0px;
  font-weight: bold;
}

.add-to-watchlist-button {
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial;
  background: #0f383d;
  background: -o-linear-gradient(90deg, #0f383d, #205075);
  background: -moz-linear-gradient(center top, #0f383d 5%, #205075 100%);
  background: webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #0f383d),
    color-stop(1, #205075)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f383d', endColorstr='#205075');
  background: -webkit-linear-gradient(#0f383d, #205075);
  background: -ms-linear-gradient(#0f383d, #205075);
  background: linear-gradient(#0f383d, #205075);
  text-indent: 0px;
  line-height: 38px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 10 10px 10px 10px;
  vertical-align: middle;
  display: inline-block;
  font-size: 19px;
  color: #ffffff;
  width: 150px;
  height: 53px;
  border-color: #244047;
  border-width: 1px;
  border-style: solid;
}

.add-to-watchlist-button:hover {
  background: #205075;
  background: -o-linear-gradient(90deg, #205075, #0f383d);
  background: -moz-linear-gradient(center top, #205075 5%, #0f383d 100%);
  background: webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #205075),
    color-stop(1, #0f383d)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#205075', endColorstr='#0f383d');
  background: -webkit-linear-gradient(#205075, #0f383d);
  background: -ms-linear-gradient(#205075, #0f383d);
  background: linear-gradient(#205075, #0f383d);
  cursor: pointer;
}
